<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New comment</title>
</head>

<body>
    <h1>Form for creating new comment!</h1>
    <form action="/comments/" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter your name" id="username">
        <br>
        <label for="comment">Enter your comment:</label>
        <textarea name="comment" id="comment" cols="30" rows="3"></textarea>
        <br>
        <button>Submit the form!</button>
    </form>
</body>

</html>