<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single comment</title>
</head>

<body>
    <h1>Single comment content</h1>
    <h2>
        <%= comment.username %> said <%= comment.comment %>
    </h2>
    <a href="/comments/edit/<%= comment.id %> ">Edit this comment</a>
    <form action="/comments/<%= comment.id %>?_method=DELETE" method="POST">
        <button>Delete this post</button>
    </form>
    <br>
    <a href="/comments">Back to all comments page</a>
</body>

</html>